<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/estilos.css}">
</head>
<body>
<header>
    <h1>Restaurante Belita Pulgosa</h1>
    <nav>
        <ul>
            <li><a th:href="@{/index}">Sobre Nosotros</a></li>
            <li><a th:href="@{/menus}">Menú</a></li>
            <li><a th:href="@{/reservacion}">Reservaciones</a></li>
            <li><a th:href="@{/eventos}">Eventos Especiales</a></li>
            <li><a th:href="@{/galeria}">Galería</a></li>
            <li><a th:href="@{/pedidosOnline}">Pedidos Online</a></li>
            <li><a th:href="@{/contacto}">Contacto</a></li>
        </ul>
    </nav>
</header>
<section>
    <h2>
        Pedidos Online:
    </h2>
</section>
</body>
</html>