<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/estilos2.css}">
</head>
<body>

<form th:action="@{/restaurante/reservacion}" method="post" th:object="${reservacion}">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required><br><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}" required><br><br>
    <label for="fecha">Fecha y Hora:</label>
    <input type="datetime-local" id="fecha" name="fecha" th:field="*{fecha}" required><br><br>
    <label for="personas">Número de personas:</label>
    <input type="number" id="personas" name="numeroPersonas" th:field="*{numeroPersonas}" required><br><br>
    <input type="submit" value="Reservar">
</form>
</body>
</html>
